[submodule "SoarOS"]
	path = SoarOS
	url = https://github.com/UCSOAR/SoarOperatingSystem.git
	branch = master
[submodule "PeripheralDriversSubmodule"]
	path = PeripheralDriversSubmodule
	url = https://github.com/UCSOAR/PeripheralDriversSubmodule.git
	branch = master
[submodule "SoarCommunications"]
    path = SoarCommunications
    url = https://github.com/UCSOAR/CommunicationSystemsSubmodule.git
    branch = master

